h1{
    color: blue;
}

div.first{
    color: white;
    background-color: black;
    height: 200px;
    margin: 0px 50px 0px;
    padding: 2em;
}

div.inpform{
    width: 15em;
    height: 3em;
    border: 1px solid grey;
    padding: 1em;
}

label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 0.2em;
}

input{
    display: block;
    width: 15em;
    height: 1.2em;
    margin-left: 1.5em;
}

div.button{
    width: 17em;
    height: 3em;
    text-align: right;
    padding-top: 0.4em;
}

div.container{
    width: 100%;
    background-color: skyblue;
}

div.card{
    width: 600px;
    height: 300px;
    border: grey 1px solid;
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 5px 5px grey;
}

th{
    background-color: darkblue;
    color: white;
}

td{
    background-color: aliceblue;
    color: darkblue;
    padding: 0px 20px;
}