<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
</head>

<body>
    <h1><%=title %></h1>
    <div class="container">
        <div class="card">
            <p class="title"><%=message %></p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名前</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="rows">
                    <tr>
                        <td colspan="3">wait...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const rows = document.querySelector("#rows");
        showPersonalData(rows);
    </script>
    <a href="../">indexへ</a>
</body>
</html>