<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title><%=title %></title>
</head>
    <body>
        <h1><%=title %></h1>
        <div class="first">
            <form action="/" method="post">
                <label for="msg">Message:</label>
                <input type="text" id="msg" name="msg" style="width: 100%;">
                <button type="submit">送信</button>
            </form>
        </div>
        <hr>
        <h2>※メッセージリスト</h2>
        <ol>
            <% for(let item of data){ %>
                <li><%=item %></li>
            <% } %>
        </ol>
        <a href="./db">dbへ</a>
    </body>
</html>